
.habit-card {
    margin-bottom: 15px;
}

.day-label {
    font-weight: 500;
    font-size: 0.85rem;
}

.habit-icon {
    font-size: 1.2rem;
    margin-right: 8px;
    color: #0d6efd;
}
footer{
    padding-top: 20px;
}

nav {
    background-color: rgb(191, 211, 246);
}

body {
    background-color: rgb(201, 187, 241);
}

/* Slide-In on Hover */
.animated-card {
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
  }
  
  .animated-card:hover {
    transform: scale(1.05);
    background-color: #e3f2fd; /* light blue */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  p {
    font-family: 'Courier New';
  }
  
  h1 {
    font-family: 'Papyrus';
  }
  
  h2 {
    font-family: 'Courier New'
  }